.csv-main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.csv-box {
	width: 100%;
	display: flex;
}
.csv-button-top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
	margin-right: 10px;
}
.csv-end {
	justify-content: end;
	margin: 10px 0;
}
.csv-button-valid{
	margin-right: 10px;
}
.csv-table-cover {
	width: 100%;
	margin: 10px;
	overflow: scroll;
	box-shadow: 0 5px 10px 0px rgba(131, 131, 131, 0.205);
    border-radius: 10px;
}